<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appTechnovation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B71014F1CAF491F004BD43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7101651CAF4920004BD43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7101701CAF4920004BD43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
